<div class='container' id='app'>
  <div class='row'>
    <span class='text-center'><button @click='hitMe'>Hit me!</button></span>

    <h3>Count:</h3>
    {{ count }}
    <h3>My hand:</h3>
    <div v-for='card in hand' class='card col-sm-3'>
      {{ card.rank }}{{ card.suit }} {{ card.value }}
    </div>

    <p>
      <h3>Remaining Cards:</h3>
      <span v-for='card in cards'>
        {{ card.rank }}{{ card.suit }}
      </span>
    </p>
  </div>
</div>