<div class='container'>
  <div class='row'>
    <div class='col-sm-9'>
      <div class='row'>
        <div class='row'>
          <div class='col-sm-2 col-sm-offset-5'>
            <button class='btn btn-primary btn-lg' @click='hitMe'>Hit me!</button>
          </div>
        </div>
        <h3>My hand:</h3>
        <div v-for='card in hand'>
          <is-card :card='card'></is-card>
        </div>
      </div>
    </div>
    <div class='col-sm-3'>
      <h3>Count:</h3>
      {{ count }}
    </div>
</div>

<template id='card-template'>
  <div class='card col-xs-2 col-sm-1' v-bind:style='{ color: card.color }'>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1'>
        {{ card.rank }}
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1 text-center'>
        <span class='suit'>{{ card.suit }}</span>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1 text-right'>
        {{ card.rank }}
      </div>
    </div>
  </div>
</template>

    <p>
      <h3>Remaining Cards:</h3>
      <span v-for='card in cards'>
        {{ card.rank }}{{ card.suit }}
      </span>
    </p>
  </div>
</div>
