<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <button @click='hitMe(hands.player)' class='btn btn-lg btn-primary'>Hit Me</button>
      <button @click='hitMe(hands.dealer)' class='btn btn-lg btn-primary'>Hit Dealer</button>

    </div>
    <div class='col-sm-3'>
      <h3>Running Count:</h3>
      {{ count }}
      <h3>True Count:</h3>
      {{ trueCount }}
      <h3>Decks Remaining:</h3>
      {{ decksRemaining }}
    </div>
    <div class='col-sm-9'>
      <div class='row'>
        <h3>My hand:</h3>
        <div v-for='card in hands.player' class='card col-xs-2 col-sm-1'>
          <is-card :card='card'></is-card>
        </div>
      </div>
      <div class='row'>
        <h3>Dealer's hand:</h3>
        <div v-for='card in hands.dealer' class='card col-xs-2 col-sm-1'>
          <is-card :card='card'></is-card>
        </div>
      </div>
    </div>
  </div>
    <p>
      <h3>Remaining Cards:</h3>
      <span v-for='card in cards'>
        {{ card.rank }}{{ card.suit }}
      </span>
    </p>
  </div>
</div>

<template id='card-template'>
  <div v-bind:style='{ color: card.color }'>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1'>
        {{ card.rank }}
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1 text-center'>
        <span class='suit'>{{ card.suit }}</span>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1 text-right'>
        {{ card.rank }}
      </div>
    </div>
  </div>
</template>
